<% if @poll %>
  <div class="alert alert-success" style="margin:0 20px 0 20px !important">
  <h3>It's sometimes easier to evaluate from the outside. I acknowledge I'm not always aware of how my best intentions land on those around me. Please give your honest feedback on what impression I made.</h3>
  </div>
  <div class="content" style="margin:20px 20px 0 20px !important">
  <form_for(@poll)
  </div>
  <%else%>
  <div class="alert alert-error" style="margin:0 20px 0 20px !important">
    <h3>Oops! This feedback form must have expired, sorry.</h3>
  </div>
<% end %>