<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
      <li><a href="/">About</a>
      <li class="divider-vertical"></li>
      <li><a href="/polls/new">Ask for feedback</a>
      </ul>
    </div>
  </div>
</div>